@import url(./modern-normalize.css);
@import url(./reset.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: So Cloudy;
  src: url(./fonts/so-cloudy.otf);
}

:root {
  --anthracite: rgb(54, 52, 55);
  --light-grey: rgb(184, 181, 186);
  --lighter-grey: rgb(204, 204, 204);
  --blue: rgb(17, 112, 228);
  --dark-blue: rgb(19, 88, 178);
  --purple: rgb(146, 42, 244);
  --translucid-purple: rgba(146, 42, 244, 0.4);
  --translucid-blue: rgb(17, 112, 228, 0.5);
  --translucid-red: rgba(233, 69, 63, 0.4);
  --translucid-white: rgba(255, 255, 255, 0.415);
  --translucid-black: rgba(0, 0, 0, 0.1);
  --translucid-darker-black: rgba(0, 0, 0, 0.7);
  --linear-black: linear-gradient(
    to bottom,
    rgba(245, 246, 252, 0),
    rgb(0 0 0 / 90%)
  );
  --linear-blue: linear-gradient(
    90deg,
    rgb(96, 173, 251) 0%,
    rgb(235, 216, 253) 100%
  );
  --linear-orange: linear-gradient(
    90deg,
    rgb(251, 209, 126) 0%,
    rgb(247, 247, 120) 100%
  );
  --linear-rainbow: linear-gradient(
    90deg,
    rgb(210, 238, 244) 0%,
    rgb(240, 238, 198) 50%,
    rgb(243, 165, 109) 100%
  );
  font-size: 16px;
  font-family: "Roboto", serif;
  color: var(--anthracite);
}

.container {
  display: grid;
  grid-template-columns: 280px 1fr;
}

/* HEADER SECTION*/

header {
  position: relative;
  grid-column: 2 / 3;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--anthracite);
  box-shadow: 0px 1px 14px 2px var(--translucid-red);
}

#search {
  height: 40px;
  width: max(200px, 40%);
  border-radius: 10px;
  background-color: #ebd8fd;
  border: none;
  padding: 0 10px 0 40px;
  box-shadow: 10px 10px 14px -12px var(--purple);
  background-image: url(./assets/search.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;

  &:focus {
    outline: none;
    border: 2px solid var(--purple);
  }
}

#user-avatar {
  height: 60px;
  width: 60px;
}

#notifications {
  height: 25px;
  width: 25px;
}

.user-block {
  display: flex;
  align-items: center;
  gap: 15px;
}

#user-name {
  display: flex;
  font-weight: 600;
  img {
    padding: 0 0 2px 0;
    height: 25px;
    width: 25px;
  }
}

/* SIDEBAR SECTION */

.sidebar {
  padding: 15px 30px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: var(--linear-blue);
  box-shadow: 0px 106px 14px 2px var(--translucid-purple);
  z-index: 100;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 3rem;
  font-weight: 900;
  font-family: So Cloudy;

  img {
    height: 55px;
  }
}

.menu,
.preferences {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 0 10px 20px;
  margin: 43px 0 0 0;
  background-color: var(--translucid-white);
  border-radius: 20px;

  li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 0;

    &::before {
      display: inline-block;
      background-size: 40px 40px;
      height: 40px;
      width: 40px;
      align-self: baseline;
      background-color: white;
      padding: 7px;
      border-radius: 5px;
    }

    a {
      text-decoration: none;
      color: var(--anthracite);
    }
  }
}

.menu li:first-of-type,
.menu li:hover,
.preferences li:hover {
  font-weight: 600;
  a {
    color: var(--blue);
  }
  &::before {
    background-color: var(--blue);
  }
}

#home::before {
  content: url(./assets/home.svg);
}

#category {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>tag</title><path d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z" fill="rgb(54, 53, 55)" /></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>tag</title><path d="M5.5,7A1.5,1.5 0 0,1 4,5.5A1.5,1.5 0 0,1 5.5,4A1.5,1.5 0 0,1 7,5.5A1.5,1.5 0 0,1 5.5,7M21.41,11.58L12.41,2.58C12.05,2.22 11.55,2 11,2H4C2.89,2 2,2.89 2,4V11C2,11.55 2.22,12.05 2.59,12.41L11.58,21.41C11.95,21.77 12.45,22 13,22C13.55,22 14.05,21.77 14.41,21.41L21.41,14.41C21.78,14.05 22,13.55 22,13C22,12.44 21.77,11.94 21.41,11.58Z" fill="white" /></svg>');
    }
  }
}

#my-library {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>book-open-page-variant-outline</title><path d="M19 1L14 6V17L19 12.5V1M21 5V18.5C19.9 18.15 18.7 18 17.5 18C15.8 18 13.35 18.65 12 19.5V6C10.55 4.9 8.45 4.5 6.5 4.5C4.55 4.5 2.45 4.9 1 6V20.65C1 20.9 1.25 21.15 1.5 21.15C1.6 21.15 1.65 21.1 1.75 21.1C3.1 20.45 5.05 20 6.5 20C8.45 20 10.55 20.4 12 21.5C13.35 20.65 15.8 20 17.5 20C19.15 20 20.85 20.3 22.25 21.05C22.35 21.1 22.4 21.1 22.5 21.1C22.75 21.1 23 20.85 23 20.6V6C22.4 5.55 21.75 5.25 21 5M10 18.41C8.75 18.09 7.5 18 6.5 18C5.44 18 4.18 18.19 3 18.5V7.13C3.91 6.73 5.14 6.5 6.5 6.5C7.86 6.5 9.09 6.73 10 7.13V18.41Z" fill="rgb(54, 53, 55)" /></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>book-open-page-variant-outline</title><path d="M19 1L14 6V17L19 12.5V1M21 5V18.5C19.9 18.15 18.7 18 17.5 18C15.8 18 13.35 18.65 12 19.5V6C10.55 4.9 8.45 4.5 6.5 4.5C4.55 4.5 2.45 4.9 1 6V20.65C1 20.9 1.25 21.15 1.5 21.15C1.6 21.15 1.65 21.1 1.75 21.1C3.1 20.45 5.05 20 6.5 20C8.45 20 10.55 20.4 12 21.5C13.35 20.65 15.8 20 17.5 20C19.15 20 20.85 20.3 22.25 21.05C22.35 21.1 22.4 21.1 22.5 21.1C22.75 21.1 23 20.85 23 20.6V6C22.4 5.55 21.75 5.25 21 5M10 18.41C8.75 18.09 7.5 18 6.5 18C5.44 18 4.18 18.19 3 18.5V7.13C3.91 6.73 5.14 6.5 6.5 6.5C7.86 6.5 9.09 6.73 10 7.13V18.41Z" fill="white" /></svg>');
    }
  }
}

#download {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>download</title><path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" fill="rgb(54, 53, 55)"/></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>download</title><path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" fill="white"/></svg>');
    }
  }
}

#audio-books {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>book-music</title><path d="M13 20.5C13 21.03 13.09 21.53 13.26 22H6C4.89 22 4 21.11 4 20V4C4 2.9 4.89 2 6 2H7V9L9.5 7.5L12 9V2H18C19.1 2 20 2.89 20 4V11H16.5V16.11C14.5 16.57 13 18.36 13 20.5M20 13H18.5V18.21C18.19 18.07 17.86 18 17.5 18C16.12 18 15 19.12 15 20.5S16.12 23 17.5 23 20 21.88 20 20.5V15H22V13H20Z" fill="rgb(54, 53, 55)" /></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>book-music</title><path d="M13 20.5C13 21.03 13.09 21.53 13.26 22H6C4.89 22 4 21.11 4 20V4C4 2.9 4.89 2 6 2H7V9L9.5 7.5L12 9V2H18C19.1 2 20 2.89 20 4V11H16.5V16.11C14.5 16.57 13 18.36 13 20.5M20 13H18.5V18.21C18.19 18.07 17.86 18 17.5 18C16.12 18 15 19.12 15 20.5S16.12 23 17.5 23 20 21.88 20 20.5V15H22V13H20Z" fill="white" /></svg>');
    }
  }
}

#favorite {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>heart-outline</title><path d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" fill="rgb(54, 53, 55)" /></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>heart-outline</title><path d="M12.1,18.55L12,18.65L11.89,18.55C7.14,14.24 4,11.39 4,8.5C4,6.5 5.5,5 7.5,5C9.04,5 10.54,6 11.07,7.36H12.93C13.46,6 14.96,5 16.5,5C18.5,5 20,6.5 20,8.5C20,11.39 16.86,14.24 12.1,18.55M16.5,3C14.76,3 13.09,3.81 12,5.08C10.91,3.81 9.24,3 7.5,3C4.42,3 2,5.41 2,8.5C2,12.27 5.4,15.36 10.55,20.03L12,21.35L13.45,20.03C18.6,15.36 22,12.27 22,8.5C22,5.41 19.58,3 16.5,3Z" fill="white" /></svg>');
    }
  }
}

#settings {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cog</title><path d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" fill="rgb(54, 53, 55)"/></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cog</title><path d="M12,15.5A3.5,3.5 0 0,1 8.5,12A3.5,3.5 0 0,1 12,8.5A3.5,3.5 0 0,1 15.5,12A3.5,3.5 0 0,1 12,15.5M19.43,12.97C19.47,12.65 19.5,12.33 19.5,12C19.5,11.67 19.47,11.34 19.43,11L21.54,9.37C21.73,9.22 21.78,8.95 21.66,8.73L19.66,5.27C19.54,5.05 19.27,4.96 19.05,5.05L16.56,6.05C16.04,5.66 15.5,5.32 14.87,5.07L14.5,2.42C14.46,2.18 14.25,2 14,2H10C9.75,2 9.54,2.18 9.5,2.42L9.13,5.07C8.5,5.32 7.96,5.66 7.44,6.05L4.95,5.05C4.73,4.96 4.46,5.05 4.34,5.27L2.34,8.73C2.21,8.95 2.27,9.22 2.46,9.37L4.57,11C4.53,11.34 4.5,11.67 4.5,12C4.5,12.33 4.53,12.65 4.57,12.97L2.46,14.63C2.27,14.78 2.21,15.05 2.34,15.27L4.34,18.73C4.46,18.95 4.73,19.03 4.95,18.95L7.44,17.94C7.96,18.34 8.5,18.68 9.13,18.93L9.5,21.58C9.54,21.82 9.75,22 10,22H14C14.25,22 14.46,21.82 14.5,21.58L14.87,18.93C15.5,18.67 16.04,18.34 16.56,17.94L19.05,18.95C19.27,19.03 19.54,18.95 19.66,18.73L21.66,15.27C21.78,15.05 21.73,14.78 21.54,14.63L19.43,12.97Z" fill="white"/></svg>');
    }
  }
}

#support {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>face-agent</title><path d="M18.72,14.76C19.07,13.91 19.26,13 19.26,12C19.26,11.28 19.15,10.59 18.96,9.95C18.31,10.1 17.63,10.18 16.92,10.18C13.86,10.18 11.15,8.67 9.5,6.34C8.61,8.5 6.91,10.26 4.77,11.22C4.73,11.47 4.73,11.74 4.73,12A7.27,7.27 0 0,0 12,19.27C13.05,19.27 14.06,19.04 14.97,18.63C15.54,19.72 15.8,20.26 15.78,20.26C14.14,20.81 12.87,21.08 12,21.08C9.58,21.08 7.27,20.13 5.57,18.42C4.53,17.38 3.76,16.11 3.33,14.73H2V10.18H3.09C3.93,6.04 7.6,2.92 12,2.92C14.4,2.92 16.71,3.87 18.42,5.58C19.69,6.84 20.54,8.45 20.89,10.18H22V14.67H22V14.69L22,14.73H21.94L18.38,18L13.08,17.4V15.73H17.91L18.72,14.76M9.27,11.77C9.57,11.77 9.86,11.89 10.07,12.11C10.28,12.32 10.4,12.61 10.4,12.91C10.4,13.21 10.28,13.5 10.07,13.71C9.86,13.92 9.57,14.04 9.27,14.04C8.64,14.04 8.13,13.54 8.13,12.91C8.13,12.28 8.64,11.77 9.27,11.77M14.72,11.77C15.35,11.77 15.85,12.28 15.85,12.91C15.85,13.54 15.35,14.04 14.72,14.04C14.09,14.04 13.58,13.54 13.58,12.91A1.14,1.14 0 0,1 14.72,11.77Z" fill="rgb(54, 53, 55)" /></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>face-agent</title><path d="M18.72,14.76C19.07,13.91 19.26,13 19.26,12C19.26,11.28 19.15,10.59 18.96,9.95C18.31,10.1 17.63,10.18 16.92,10.18C13.86,10.18 11.15,8.67 9.5,6.34C8.61,8.5 6.91,10.26 4.77,11.22C4.73,11.47 4.73,11.74 4.73,12A7.27,7.27 0 0,0 12,19.27C13.05,19.27 14.06,19.04 14.97,18.63C15.54,19.72 15.8,20.26 15.78,20.26C14.14,20.81 12.87,21.08 12,21.08C9.58,21.08 7.27,20.13 5.57,18.42C4.53,17.38 3.76,16.11 3.33,14.73H2V10.18H3.09C3.93,6.04 7.6,2.92 12,2.92C14.4,2.92 16.71,3.87 18.42,5.58C19.69,6.84 20.54,8.45 20.89,10.18H22V14.67H22V14.69L22,14.73H21.94L18.38,18L13.08,17.4V15.73H17.91L18.72,14.76M9.27,11.77C9.57,11.77 9.86,11.89 10.07,12.11C10.28,12.32 10.4,12.61 10.4,12.91C10.4,13.21 10.28,13.5 10.07,13.71C9.86,13.92 9.57,14.04 9.27,14.04C8.64,14.04 8.13,13.54 8.13,12.91C8.13,12.28 8.64,11.77 9.27,11.77M14.72,11.77C15.35,11.77 15.85,12.28 15.85,12.91C15.85,13.54 15.35,14.04 14.72,14.04C14.09,14.04 13.58,13.54 13.58,12.91A1.14,1.14 0 0,1 14.72,11.77Z" fill="white" /></svg>');
    }
  }
}

#logout {
  &::before {
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>logout</title><path d="M17 7L15.59 8.41L18.17 11H8V13H18.17L15.59 15.58L17 17L22 12M4 5H12V3H4C2.9 3 2 3.9 2 5V19C2 20.1 2.9 21 4 21H12V19H4V5Z" fill="rgb(54, 53, 55)" /></svg>');
  }
  &:hover {
    &::before {
      content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>logout</title><path d="M17 7L15.59 8.41L18.17 11H8V13H18.17L15.59 15.58L17 17L22 12M4 5H12V3H4C2.9 3 2 3.9 2 5V19C2 20.1 2.9 21 4 21H12V19H4V5Z" fill="white" /></svg>');
    }
  }
}

/* MAIN SECTION */

.main {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 290px;
}

#discover {
  display: flex;
  grid-column: 1 /2;
  min-height: 450px;
  min-width: 450px;
  margin: 0 0 30px 0;
  border-radius: 20px;
  background-image: var(--linear-black), url(./assets/discover.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#discover-info {
  padding: 20px;
  align-self: flex-end;
  color: white;

  h3 {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 0 20px 0;
  }

  button {
    margin: 0 0 20px 0;
  }
}

button {
  background-color: var(--blue);
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-weight: 500;
  color: white;
  cursor: pointer;
}

#library {
  padding: 20px;
  background-color: white;
  border-radius: 20px;

  h2 {
    color: var(--anthracite);
    font-size: 1.8rem;
    font-weight: 500;
  }
}

#library-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;

  button {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      height: 25px;
      width: 25px;
      padding: 0 0 3px 0;
    }
  }
}

#book-section {
  display: grid;
  padding: 30px;
  background: var(--linear-rainbow);
}

#books {
  display: grid;
  grid-column: 1 / 2;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.book {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  height: 420px;
  border-radius: 20px;
  box-shadow: 0px 5px 5px 4px var(--translucid-black);
}

.book-top,
.book-bottom {
  width: 100%;
  display: flex;
}
.book-top {
  height: 70%;
  border-radius: 20px 20px 0 0;
  background-image: url(./assets/reading.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  justify-content: flex-end;
  align-items: end;
}
.book-bottom {
  flex-direction: column;
  background-color: white;
  height: 33%;
  border-radius: 0 0 20px 20px;
  color: var(--anthracite);
  padding: 12px;

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  button {
    align-self: start;
    padding: 10px 15px;
  }
}

.number-of-pages {
  background-color: var(--anthracite);
  color: white;
  padding: 3px 7px;
  border-radius: 10px 10px 0 0;
}

.book-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;

  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    img {
      margin: 0 0 0 -5px;
      height: 18px;
    }
  }

  img {
    height: 30px;
    cursor: pointer;
  }
}

#book-1 {
  background-image: url(./assets/amour-sous-algo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

#book-2 {
  background-image: url(./assets/habiter-en-oiseau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#book-3 {
  background-image: url(./assets/le-plaisir.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.side-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 3;
  background: var(--linear-orange);
  padding: 30px;

  img {
    border-radius: 20px;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0 0 0;
  }
}

#stars {
  display: flex;
  margin: 20px 0 0 0;
  align-items: center;
  span {
    font-size: 1.1rem;
    margin: 0 0 0 10px;
  }
}

.star {
  height: 30px;
  width: 30px;
  background-image: url(./assets/star.svg);
}

#ratings {
  display: flex;
  margin: 25px 0 0 0;
  gap: 12px;

  hr {
    border-left: none;
    border-right: 0.5px solid var(--light-grey);
  }
}

.rating {
  text-align: center;
  line-height: 1.3;
  p {
    font-size: 1.2rem;
    font-weight: 600;
  }
}

#side-paragraph {
  text-align: justify;
  margin: 30px 0 0 0;
}

/* MODAL SECTION */

#modal {
  border-radius: 20px;
  border: none;
  background: var(--linear-rainbow);

  &::backdrop {
    background-color: var(--translucid-darker-black);
  }
}

#modal-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 5px;

  h2 {
    font-family: So Cloudy;
    font-weight: 900;
    padding: 0 0 0 30px;
  }

  #line {
    padding: 0 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;

    label[for="book-title"],
    label[for="book-author"],
    label[for="book-nr-of-pages"] {
      color: var(--anthracite);
    }

    #book-title,
    #book-author,
    #book-nr-of-pages {
      margin-bottom: 15px;
      height: 40px;
      border-radius: 10px;
      border: 2px solid var(--lighter-grey);
      padding: 0 0 0 20px;

      &::placeholder {
        color: var(--lighter-grey);
      }

      &:focus {
        outline: none;
        border: 2px solid var(--blue);
      }
    }
  }

  hr {
    border-top: none;
    border-bottom: 1px solid var(--blue);
    opacity: 0.3;
  }
}

#top-form {
  display: flex;
  justify-content: space-between;
}

#close {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#upload-image {
  width: 430px;
  height: 178px;

  &:has(#preview) {
    display: flex;
    justify-content: center;
  }
}

#drag-box {
  position: relative;
  display: inline-block;
  width: 430px;
  height: 178px;
  text-align: center;
  padding: 20px;
  border: 2px dashed var(--lighter-grey);
  transition: transform 0.3s;

  input {
    opacity: 0;
    position: absolute;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.draging {
  transform: scale(1.1);
}

strong {
  display: block;
  text-align: center;
  margin: 20px;
}

#upload-button {
  display: block;
  position: relative;
  width: 150px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  background-color: var(--translucid-blue);
  border: 1px solid var(--translucid-blue);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  z-index: 100;

  &:hover {
    color: var(--translucid-blue);
    background-color: white;
  }
}

#preview {
  height: 90%;
  align-self: center;
}
#read {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0 0 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--lighter-grey);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#confirm {
  margin: 30px 0 10px 0;
  border: 1px solid var(--blue);

  &:hover {
    background-color: var(--translucid-white);
    color: var(--blue);
  }
}

#reset-button {
  background-color: var(--translucid-white);
  color: var(--blue);
  border: 1px solid var(--blue);

  &:hover {
    background-color: var(--blue);
    color: white;
  }
}
